// Screen reader text
%srt {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  border: 0;
  overflow: hidden;
}

;


// Float
.float {
  &-right {
    float: right;
  }

  &-left {
    float: left;
  }
}

// Margin
.mar-l {
  margin-left: auto;
}

.mar-r {
  margin-right: auto;
}

.mar-t {
  margin-top: auto;
}

.mar-b {
  margin-bottom: auto;
}

.mar-0 {
  margin: 0;
}

// Border
.bor-0 {
  border: 0;
}

.borr0 {
  border-radius: 0;
}

.borr50 {
  border-radius: 50%;
}


// Pseudo
%pseudo-global {
  display: block;
  position: absolute;
  content: '';
}

;
